@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10
}

.linkButton {
  transition: transform 0.2s ease-in-out; /* Menambahkan efek transisi selama 0.2 detik dengan fungsi timing ease-in-out */
}